<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>详情</title>
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/font/iconfont.css">
  <link rel="stylesheet" href="../assets/pagination/pagination.css">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/list.css">
  <link rel="stylesheet" href="../css/public1.css">
  <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <!-- pubilc topscroll -->
    <div id="topscroll">
        <!-- topscroll-main -->
        <div class="topscroll-main wrap">
            <div>
                <p><a href="https://www.yslbeautycn.com/item/00030YSL">YSL「方管」口红，全新YSL1966，无法复刻的红棕</a></p>
                <p><a href="javascript:;">YSL「小金条」两支装礼盒，秋冬绝色 ，哑光CP</a></p>
                <p><a href="https://www.yslbeautycn.com/item/00821YSL">YSL底妆随行礼盒，C位红妆，稳赢全场</a></p>
            </div>
        </div>
    </div>

    <!-- public toplogo -->
    <div id="toplogo">
        <!-- toplogo-main -->
        <div class="toplogo-main wrap">
            <div class="toplogo-top">
                <ul class="ul-left fl">
                    <li><a href="javascript:;"><span class="iconfont icon-zuobiao"></span>专柜查询</a></li>
                    <li><a href="javascript:;"><span class="iconfont icon-dian"></span>客服中心</a></li>
                </ul>
                <ul class="ul-right fr">
                    <li> <a href="javascript:;">关注我们<span class="iconfont icon-dian"></span></a></li>
                    <li> <a href="./login.html" class="login off hide">登录与注册<span class="iconfont icon-dian"></span></a>
                        <span class="on text-danger hide">欢迎您:</span>
                    </li>
                    <li> <a href="javascript:;"><span class="iconfont icon-shoppingbag"></span>购物袋-0件商品<span
                                class="iconfont icon-xialajiantou"></span></a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="javascript:;">
                    <img src="https://res.yslbeautycn.com/build/images/logo@2x.png" title="YSL圣罗兰美妆官方网站暨网上商城"
                        alt="YSL圣罗兰美妆官方网站暨网上商城">
                </a>
            </div>
        </div>
    </div>

    <!-- public nav -->



  <div class="content container">
    <div class="goodsDetail">
      <!-- js 渲染 -->
    </div>
    <div class="goodsNav">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="javascript:;">商品详情</a></li>
        <li role="presentation"><a href="javascript:;">相关商品</a></li>
        <li role="presentation"><a href="javascript:;">热门商品</a></li>
      </ul>
    </div>
    <div class="goodsDesc"></div>
  </div>


  <script src="../assets/jquery/jquery.min.js"></script>
  <script src="../js/public/utils-all.js"></script>
  <script src="../assets/pagination/pagination.js"></script>
  <script src="../js/public.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/list.js"></script>
  <script src="../js/detail.js"></script>
</body>
</html>
