<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/font/iconfont.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/pagination/pagination.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/list.css">
</head>

<body>
    <!-- pubilc topscroll -->
    <div id="topscroll">
        <!-- topscroll-main -->
        <div class="topscroll-main wrap">
            <div>
                <p><a href="https://www.yslbeautycn.com/item/00030YSL">YSL「方管」口红，全新YSL1966，无法复刻的红棕</a></p>
                <p><a href="javascript:;">YSL「小金条」两支装礼盒，秋冬绝色 ，哑光CP</a></p>
                <p><a href="https://www.yslbeautycn.com/item/00821YSL">YSL底妆随行礼盒，C位红妆，稳赢全场</a></p>
            </div>
        </div>
    </div>

    <!-- public toplogo -->
    <div id="toplogo">
        <!-- toplogo-main -->
        <div class="toplogo-main wrap">
            <div class="toplogo-top">
                <ul class="ul-left fl">
                    <li><a href="javascript:;"><span class="iconfont icon-zuobiao"></span>专柜查询</a></li>
                    <li><a href="javascript:;"><span class="iconfont icon-dian"></span>客服中心</a></li>
                </ul>
                <ul class="ul-right fr">
                    <li> <a href="javascript:;">关注我们<span class="iconfont icon-dian"></span></a></li>
                    <li> <a href="./login.html" class="login off hide">登录与注册<span class="iconfont icon-dian"></span></a>
                        <span class="on text-danger hide">欢迎您:</span>
                    </li>
                    <li> <a href="javascript:;"><span class="iconfont icon-shoppingbag"></span>购物袋-0件商品<span
                                class="iconfont icon-xialajiantou"></span></a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="javascript:;">
                    <img src="https://res.yslbeautycn.com/build/images/logo@2x.png" title="YSL圣罗兰美妆官方网站暨网上商城"
                        alt="YSL圣罗兰美妆官方网站暨网上商城">
                </a>
            </div>
        </div>
    </div>

    <!-- public nav -->
    <div id="nav">
        <!-- nav-main -->
        <div class="nav-main wrap">
            <ul class="nav-left fl">
                <li>彩妆
                    <div class="second_list">
            <ul>唇部
                <li>唇膏</li>
                <li>唇釉</li>
            </ul>
            <ul>面部
                <li>粉底</li>
                <li>隔离</li>
            </ul>
            <ul>眼部
                <li>眉笔</li>
                <li>睫毛膏</li>
            </ul>
        </div>
                </li>
                <li>香水
                    <div class="second_list">
                        <ul>女士香水
                            <li>全新圣罗兰女士香水</li>
                            <li>反转巴黎香水</li>
                            <li>黑色奥飘茗香水</li>
                        </ul>
                        <ul>男士香水
                            <li>Y男士香水</li>
                        </ul>
                        <ul>高定香水
                            <li>伊甸香水</li>
                        </ul>
                    </div>
                </li>
                <li>护肤
                    <div class="second_list">
                        <ul>按产品分类
                            <li>隔离防晒</li>
                            <li>卸妆清洁</li>
                            <li>爽肤</li>
                            <li>清洁</li>
                        </ul>
                        <ul>按功能分类
                            <li>全效青春</li>
                            <li>至臻奢护</li>
                            <li>基础亮颜</li>   
                        </ul>
                        <ul>按系列分类
                            <li>妍活青春</li>
                            <li>藏金奢妍</li>
                            <li>超模绝密</li>
                            <li>高能修护系列</li>
                        </ul>
                    </div>
                </li>
                <li>新年礼盒</li>
                <li>定制服务</li>
                <li>会员中心</li>
                <li>品牌故事</li>
            </ul>
            <div class="nav-right fr">
                <input class="nav-input fl" type="text" placeholder="新年礼物">
                <a href="javascript:;" class="fl"><i class="iconfont icon--search"></i></a>
                <ul class="search_ul"></ul>
            </div>
        </div>
        <!-- 以下数据稍后js动态渲染 -->
        <div class="second_list">
            <ul>唇部
                <li>唇膏</li>
                <li>唇釉</li>
            </ul>
            <ul>面部
                <li>粉底</li>
                <li>隔离</li>
            </ul>
            <ul>眼部
                <li>眉笔</li>
                <li>睫毛膏</li>
            </ul>
        </div>

    </div>

    <!-- banner -->
    <div class="banner">
        <ul class="imgBox">
            <li><img src="../images/1.jpg" alt=""></li>
            <li><img src="../images/2.jpg" alt=""></li>
            <li><img src="../images/3.jpg" alt=""></li>
            <li><img src="../images/4.jpg" alt=""></li>
            <li><img src="../images/5.jpg" alt=""></li>
        </ul>
        <ol class="pointBox"></ol>
        <div class="leftRight">
            <div class="left"><</div>
            <div class="right">></div>
            </div>
        </div>
    </div>

    <!-- list -->
    <div id="list">
        <!-- list-main -->
        <div class="list-main wrap">
     <div class="info filterinfo container">
        <div class="panel panel-success">
          <div class="panel-heading">筛选信息</div>
          <div class="panel-body">
            <ul>
              <li class="cat_one">
                <div class="left">一级分类</div>
                <div class="right">
                  <span class="active">大家电</span>
                  <span>nihao</span>
                  <span>nihao</span>
                  <span>nihao</span>
                  <span>nihao</span>
                </div>
              </li>
              <!-- <li class="cat_two">
                <div class="left">二级分类</div>
                <div class="right">
                  <span class="active">全部</span>
                </div>
              </li>
              <li class="cat_three">
                <div class="left">三级分类</div>
                <div class="right">
                  <span class="active">全部</span>
                </div>
              </li> -->
              <li class="sort_list">
                <div class="left">排序方式</div>
                <div class="right">
                  <span data-sort="id" class="active">综合</span>
                  <span data-sort="price">价格</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="info pagiInfo container">
        <div class="panel panel-warning">
          <div class="panel-heading">分页信息</div>
          <div class="panel-body pagination">
    
          </div>
        </div>
      </div>
    
      <div class="goodsList container">
        <ul class="">
          <!-- js 渲染 -->
        </ul>
      </div>           
        </div>
    </div>


    <!-- SERVICES -->
    <div id="ser">
        <div class="ser-main wrap">
            <p>国家药监局提示您：宣称用于祛斑美白、防晒、染发、烫发等的化妆品为特殊用途化妆品，产品标签上应标注“国妆特字”或者“国妆特进字”的标准文号。</p>
            <p>
                <span>© 欧莱雅（中国）有限公司</span>
                <span>中国工商   沪ICP备08100043号-28 </span>
                <span>沪公网安备 31010602001529号</span>
            </p>
            <p>
                <a href="javascript:;">Cookies政策</a>
                <a href="javascript:;">使用条款</a>
                <a href="javascript:;">隐私政策</a>
                <a href="javascript:;">网站地图</a>
            </p>
        </div>
    </div>

    <!-- 导入js封装的文件 -->
    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../js/public/utils-all.js"></script>
    <script src="../assets/pagination/pagination.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/list.js"></script>

    <!-- JS实现效果 -->
    <script>
        // 实现轮播图
        const b = new Banner('.banner')
    </script>
</body>

</html>